.flex{
    display: flex;
    align-items: center;
}
  .main{
    width: 100%;
    height: 80vh;
    justify-content: center;
} 
.main .main-one{
    width: 45%;
    padding: 40px 30px;
    padding-left: 150px;
}
.main-one h1{
    font-size: 80px;
}
.main-one span{
    font-weight: 600;
    font-size: 60px;
    color: #56b2d6;
}
.main-one p{
    font-size: 17px;
    padding: 10px 0;
}
.main-one button{
    background-color: #56b2d6;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 2px 2px 30px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.2s;
}
.main-one button:hover{
    transform: scale(1.02);
}
.main .main-two{
    width: 50%;
}
.main-two img{
    width: 300px;
} 